# Pytorch model files
*.pt 

# Some other files / outputs
*.wav
*.png
*.ipynb_checkpoints
nohup.out
results.json
conda-lock.yml
environment.yml

# configuration file
config.py

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo